header {
        background-color: burlywood;
        color: white;
        padding: 1px;
        font-family: monospace;
        text-align: center;
}       
body{
        margin: 10px;
        background-color: #f1f1f1;
}
nav {
        overflow: hidden;
        background-color: tomato;
        border: 2px solid black;
       
}
nav a{
        padding: 10px;
        padding-right: 10px;
        float: left;
        color: white;
        text-decoration: none;

}
nav a:hover{
        background-color: black;

}
.column{
        float: left;
        padding: 10px;
        line-height: 1.4em;
}
.column.side{
        width: 20%;                     /*use box sizing -border box*/
                
}
.column.middle{ 
        width: 55%;
}
footer{
        clear: both;
        font-family: monospace;
        text-align: center;
}
@media screen and (max-width:637px){
        .column.side,.column.middle{
                width: 100%;         
        }
}
div p{
        text-align: justify;
}
div.Gallery{
        border: 2px solid black;
        float: left;
}
div.Gallery.img{
        border: 3px solid black;
}

div.desc{
        padding: 10px;
        text-align: center;
}
input[type=text],select,textarea{
        width: 45%;
        padding: 5px;
        border: 2px solid yellowgreen;
        margin-bottom: 2px;
        
}
input[type=Submit]{
        background-color: violet;
        padding: 3px 0px 0px 0px;
        cursor: pointer;
}


        



